name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
  
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Azure Functions Action
      uses: Azure/functions-action@v1.4.6
      with:
        # Name of the Azure Function App
        app-name: aurtest
        # Path to package or folder. *.zip or a folder to deploy
        package: .
        # Function app slot to be deploy to
        slot-name: PRODUCTION
